body {
    background-image: url("https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(to bottom, #edf5f9, #DDF2FD); */
    height: 90vh;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive;
    /* background-image: url("public/css/Untitled design (1).png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #555;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 12px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive;
}

button {
    width: 35%;
    padding: 12px;
    background-color: #427D9D;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-left: 235px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
}


button:hover {
    background-color: #164863;
}

.result {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.error {
    color: red;
}
